DATABASE_URL="your_supabase_transaction_pooler_url"
DIRECT_URL="your_supabase_session_pooler_url"

GROQ_API_KEY="your_groq_api_key"

NEXTAUTH_SECRET="your_nextauth_secret"
NEXTAUTH_URL="http://localhost:3000"